@model EncodageEmploi.Emploi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Emploi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.codeTravail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codeTravail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateEntree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateEntree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateSortie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateSortie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DenominationEmploi.denomination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DenominationEmploi.denomination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entreprise.denomination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entreprise.denomination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Travailleur.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Travailleur.nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
