@model IEnumerable<EncodageEmploi.Entreprise>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.denominationEntreprise)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numTel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nbrTravSoumis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nbrTravNonSoumis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Langue.libelle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.denominationEntreprise)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numTel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nbrTravSoumis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nbrTravNonSoumis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Langue.libelle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.numero }) |
            @Html.ActionLink("Details", "Details", new { id=item.numero }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.numero })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to List", "../Emplois/Index")
</div>
